/.vscode
/011201035.cpp
/ann.py
/arr.exe
/ArrayList.exe
/ArrayList1.exe
/DoublyLinkedList.exe
/MainClass.class
/singlylinkedlist.exe
/Stack.exe
/Stack2.exe
/tempCodeRunnerFile.c
/tempCodeRunnerFile.cpp
/test.c
/test.cpp
/test.py
/tree.exe
/tst.java